<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Learning Vue</title>
  <script src="https://unpkg.com/vue@3.1.4"></script>
  <style>
    .box {
      padding: 100px 0;
      width: 400px;
      text-align: center;
      background: #ddd;
      margin: 20px;
      display: inline-block;
    }
  </style>
</head>

<body>
  <h1>Hello, Vue :)</h1>

  <div id="app">
    <div v-if="showBooks">
      <p>{{ title }} - {{ author }} - {{ age }}</p>
    </div>

    <button @click="toggleShowBooks">
      <span v-if="showBooks">Hide Books</span>
      <span v-else>Show Books</span>
    </button>

    <br>
    <!-- mouse events -->

    <!-- mouseover -->
    <div class="box" @mouseover="handleEvent">mouseover (enter)</div>

    <!-- mouseleave -->
    <div class="box" @mouseleave="handleEvent">mouseleave</div>

    <!-- dblclick (double click) -->
    <div class="box" @dblclick="handleEvent">double click</div>

    <!-- mousemove -->
    <div class="box" @mousemove="handleMouseMove">position - {{ x }} {{ y }}</div>

    <!-- jeżeli nie podamy parametru do metody, domyślnie będzie nim 'event'
    jeżeli wpiszemy własny parametr, obiekt metody będzie undefined -->
    <div class="box" @mouseover="handleEvent(5)">mouseover (enter)</div>

    <!-- dlatego jako pierwszy param wpisujemy '$event' a potem nasz param -->
    <div class="box" @mouseover="handleEvent($event, 5)">mouseover (enter)</div>
  </div>


  <script src="app.js"></script>
</body>

</html>